.vagrant/
tempFiles/
.idea/
wallet/
msp/
vendor/
packaged/
git_configs/

shared/caserver/org0-ca-server/admin/
shared/caserver/org0-ca-server/crypto/
shared/caserver/org1-ca-server/admin/
shared/caserver/org1-ca-server/crypto/
shared/caserver/tls-ca-server/admin/
shared/caserver/tls-ca-server/crypto/


shared/nodesserver/org0/
shared/nodesserver/org1/


*.pem